<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FCS_Funding_Test.Properties.Settings.FCS_FundingConnectionString" connectionString="Data Source=SPENCERF-LAPTOP;Initial Catalog=FCS_Funding;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
